name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: MINGW64
          install: >
            base-devel
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-gmp
            mingw-w64-x86_64-mpfr
            mingw-w64-x86_64-isl
            autoconf
            automake
            libtool
            texinfo
            pkg-config
            make
            git

      - name: Build cegcc
        shell: msys2 {0}
        run: |
          git submodule update --init
          mkdir -p "$GITHUB_WORKSPACE/cegcc"
          ./build_cf.sh "$GITHUB_WORKSPACE/cegcc" arm-mingw32ce

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cegcc
          path: ${{ github.workspace }}/cegcc
